@tailwind base;
@tailwind components;
@tailwind utilities;

.glassmorph {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}

.box-x {
  @apply px-8 lg:px-16 xl:px-24;
}

.box-y {
  @apply py-8 lg:py-16 xl:py-24;
}

.sticky-top {
  @apply xl:sticky top-8 lg:top-16 xl:top-24 xl:h-full;
}

.h1 {
  @apply text-4xl lg:text-5xl xl:text-6xl;
}

.h2 {
  @apply text-3xl lg:text-4xl xl:text-5xl;
}

.h3 {
  @apply text-2xl lg:text-3xl xl:text-4xl;
}

.h4 {
  @apply text-xl lg:text-2xl xl:text-3xl;
}

.h5 {
  @apply text-lg lg:text-xl xl:text-2xl;
}

.h6 {
  @apply text-base lg:text-lg xl:text-xl;
}

.p {
  @apply text-sm lg:text-base;
}

.highlight-info {
  @apply border-info/25 hover:border-info hover:bg-info/10 shadow-info/25 hover:shadow-info;
}

.highlight-neutral-content {
  @apply border-neutral-content/25 hover:border-neutral-content hover:bg-neutral-content/10 shadow-neutral-content/25 hover:shadow-neutral-content;
}

.highlight-secondary {
  @apply border-secondary/25 hover:border-secondary hover:bg-secondary/10 shadow-secondary/25 hover:shadow-secondary;
}

.highlight-primary {
  @apply border-primary/25 hover:border-primary hover:bg-primary/10 shadow-primary/25 hover:shadow-primary;
}

.highlight-success {
  @apply border-success/25 hover:border-success hover:bg-success/10 shadow-success/25 hover:shadow-success;
}

.highlight-error {
  @apply border-error/25 hover:border-error hover:bg-error/10 shadow-error/25 hover:shadow-error;
}

.highlight-warning {
  @apply border-warning/25 hover:border-warning hover:bg-warning/10 shadow-warning/25 hover:shadow-warning;
}
