@tailwind base;
@tailwind components;
@tailwind utilities;

.glass-card {
  @apply border border-primary;
  /* From https://css.glass */
  background: rgba(48, 54, 112, 0.16);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.3px);
  -webkit-backdrop-filter: blur(5.3px);
}
